table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: rgba(255, 255, 255, 0.781);
  font-weight: bold;
}

table td,
table th {
  border: 1px solid rgb(26, 25, 25);
  padding: 6px;
}

table tr:nth-child(even) {
  background-color: #b36359d5;
}
table tr:nth-child(odd) {
  background-color: #e76056b9;
}
table tr:hover {
  background-color: rgb(104, 104, 104);
}

table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #8a1445;
  color: white;
}
